<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletAyto</servlet-name>
  	<display-name>ServletAyto</display-name>
  	<description></description>
  	<servlet-class>es.open4job.web.ServletAyto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Prueba</servlet-name>
  	<display-name>Prueba</display-name>
  	<description></description>
  	<servlet-class>prueba.Prueba</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletSesion</servlet-name>
  	<display-name>ServletSesion</display-name>
  	<description></description>
  	<servlet-class>es.open4job.web.ServletSesion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletSesion2</servlet-name>
  	<display-name>ServletSesion2</display-name>
  	<description></description>
  	<servlet-class>es.open4job.web.ServletSesion2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletAyto</servlet-name>
  	<url-pattern>/ServletAyto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Prueba</servlet-name>
  	<url-pattern>/Prueba</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSesion</servlet-name>
  	<url-pattern>/ServletSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletSesion2</servlet-name>
  	<url-pattern>/ServletSesion2</url-pattern>
  </servlet-mapping>
</web-app>
